## Reconstruction histograms

In [1]:
import pandas as pn

reco_df = pn.read_csv("supervised_rmse_df.csv")
reco_df.head()

   Unnamed: 0             class   CIS     NIS     column  case
0           0         State-gov  1298  5223.0  workclass  1ftt
1           1       Without-pay    14  4132.0  workclass  1ftt
2           2                 ?  1836  5723.0  workclass  1ftt
3           3         Local-gov  2093  5855.0  workclass  1ftt
4           4  Self-emp-not-inc  2541  6191.0  workclass  1ftt

In [8]:
reco_df[reco_df["class"] == 'State-gov'].head()

     Unnamed: 0      class   CIS     NIS     column      case
0             0  State-gov  1298  5223.0  workclass      1ftt
96            0  State-gov  1298     0.0  workclass      1ttt
192           0  State-gov  1298  4549.0  workclass      1mtt
288           0  State-gov  1298     0.0  workclass  1tffNone
384           0  State-gov  1298  4691.0  workclass      1fff

In [31]:
real_cis = reco_df[["class", "column","CIS"]]
real_cis.drop_duplicates(inplace=True)
real_cis.loc[:,"case"] = "real" 
real_cis = real_cis.rename(columns={"CIS":"count"})
real_cis.shape

reco_dff = reco_df[["class","column","case","NIS"]].rename(columns={"NIS":"count"})
print(reco_dff.shape)
print(reco_dff.shape[0] + real_cis.shape[0])

reco_dff.head()

reco_count = reco_dff.merge(real_cis, how="outer", on=["class","column","case","count"])
reco_count.shape

(5760, 4)
5856

/Users/juanzinser/Workspace/Tesis/venv/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/juanzinser/Workspace/Tesis/venv/lib/python3.6/site-packages/pandas/core/indexing.py:357: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[key] = _infer_fill_value(value)
/Users/juanzinser/Workspace/Tesis/venv/lib/python3.6/site-packages/pandas/core/indexing.py:537: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

(5856, 4)

In [71]:
import re
def get_splitted_case(df):
    df["privacy"] = df["case"].map(lambda x: re.findall("\d+", x)[0] if x!="real" else x)
    df["real"] = df["case"].map(lambda x: re.findall("[^\d]",x)[0] if x!="real" else x)
    df["uniform"] = df["case"].map(lambda x: int(re.findall("[^\d]",x)[1] == "t") if x!="real" else x)
    df["uniform2"] = df["case"].map(lambda x: int(re.findall("[^\d]",x)[2] == "t") if x!="real" else x)
    return df

reco_df = get_splitted_case(reco_df)
reco_count = get_splitted_case(reco_count)

In [ ]:
import numpy as np
from basic_units import cm, inch
import matplotlib.pyplot as plt

for pr in reco_df.privacy.unique():
    gb = reco_df[reco_df.privacy==pr][reco_df.column=="education"].groupby(["real", "class"])["NIS","CIS"].mean().reset_index()

    N = len(gb["class"].unique())

    real_list = list()
    real_order = list()
    fig, ax = plt.subplots()
    width_delta = 0.15         # the width of the bars
    ind = np.arange(N)    # the x locations for the groups
    real_colors = {"real":"k","t":"m","f":"g","m":"b"}
    class_order = gb[gb["real"]=="t"].sort_values(by="class", ascending=True)["class"].values
    width = 0 
    for real_level in np.append(gb["real"].unique(),"real"):
        if real_level != "real":
            cur_values = gb[gb["real"]==real_level].sort_values(by="class", ascending=True)["NIS"].values
        else:
            cur_values = gb[gb["real"]=="t"].sort_values(by="class", ascending=True)["CIS"].values

        cur_p = ax.bar(ind + width, cur_values, width_delta, color=real_colors[real_level], bottom=0*cm)
        real_list.append(cur_p)
        real_order.append(real_level)
        width += width_delta

    ax.set_title('Counts by class and "if real" for Privacy {pr}'.format(pr=pr))
    ax.set_xticks(ind + width / 2)
    ax.set_ylabel("Number Instances")
    ax.set_xticklabels(class_order, rotation = 45, ha="right")
    ax.legend((p[0] for p in real_list), tuple(real_order))
    ax.yaxis.set_units(inch)
    ax.autoscale_view()
    plt.savefig("/Users/juanzinser/Documents/plots/reconstruction_{pr}".format(pr=pr))
    plt.show()